img {
    max-height: 375px;
    max-width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
}
.heading {
    text-align: center;
    box-sizing: border-box;
    border: solid black 3px;
    margin-left: 100px;
    margin-right:100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   
}
.pp {
    
    display: inline-block;
    padding-left: 400px;
}

div.container {
    border: solid black 2px;
    box-sizing: border-box;
    margin: 20px;
    text-align: left;
}

a {
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


a:link {
    color: black;
}
a:visited {
    color: gray;
}
a:hover {
    color: orange;
}
a:active {
    color:red;
}
